.footer{
    display:flex;
    flex-direction: column;
    font-size:10px;
    justify-content: center;
    align-items: center;
    padding-bottom:25px;
    border-top: 2px solid orange;
    .navigation{
        display:flex;;
        li{
            list-style-type: none;
            a{
                border-right:1px solid black;
                padding: 0 5px;
            }
        }
    }
    .searchLabel{
        font-size: 13px;
        font-size: 10pt;
        color: #828282;;
    }
}