.header{
    width:100%;
    display:flex; 
    font-size:14px;
    background-color: #ff6600;
    h1{
        font-size:14px;
    }
    * a{
        color:black;
        text-decoration:none;
    }
    .navigation{
        display:flex; 
        margin-right:auto;
        list-style-type: none;
        a{
        border-right:1px solid black;
        }
    }
    .login{
       margin-right:20px;
    }
}